SVSG_desktop/Service References/PublicacionService/Listado.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54789/Listado.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SVSG_lib" />
  <xs:element name="cargarLista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipo_doc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="seccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vigencia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SVSG_lib" minOccurs="0" name="cargarListaResult" nillable="true" type="q1:Publicaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SVSG_lib" minOccurs="0" name="publicacion" nillable="true" type="q2:Publicacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crearDocumentoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificacionMenor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SVSG_lib" minOccurs="0" name="publicacion" nillable="true" type="q3:Publicacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificacionMenorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modificacionMenorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="publicacionMayor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SVSG_lib" minOccurs="0" name="publicacion" nillable="true" type="q4:Publicacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="publicacionMayorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="publicacionMayorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SVSG_lib" minOccurs="0" name="cargarItemResult" nillable="true" type="q5:Documento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>