SVSG_desktop/Service References/PublicacionService/Listado2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SVSG_lib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SVSG_lib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Publicaciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lista" nillable="true" type="tns:ArrayOfPublicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Publicaciones" nillable="true" type="tns:Publicaciones" />
  <xs:complexType name="ArrayOfPublicacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Publicacion" nillable="true" type="tns:Publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPublicacion" nillable="true" type="tns:ArrayOfPublicacion" />
  <xs:complexType name="Publicacion">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Publicacion" nillable="true" type="tns:Publicacion" />
</xs:schema>